@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");
:host {
  display: block;
  height: 100vh;
  padding-top: 25px;
  color: #2a7dee;
}

canvas {
  width: 1000px;
  border-style: solid;
}
